/*公共的弹窗*/
.tips-bgc {
  position: fixed;
  z-index: 97;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.publicTip {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  position: fixed;
  z-index: 98;
  width: 80%;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  padding: 40px 20px;
  height: auto;
  background-color: #fff;
  border: solid 1px #CDCDCD;
}
.publicTip .publicTip-cont {
  font-size: 15px;
  color: #023156;
  line-height: 25px;
}
.publicTip .publicTip-cont .yellowColor {
  color: #FF8038;
}
.publicTip .publicTip-close {
  margin-top: 30px;
}
.publicTip .publicTip-close a {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #489CFF;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 45%;
  max-width: 124px;
  height: 40px;
  line-height: 40px;
}
.publicTip .publicTip-close a.publicTip-n {
  background-color: #E1E8F0;
  margin-left: 17px;
}
.publicTip .publicTip-close a.publicTip-s {
  width: 200px;
  max-width: 200px;
}