<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no,email=no,adress=no"/>
	<title>关于我们</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/myPage_bangzhushuoming.css">
</head>
<body>
	<div class="box">
 		<div class="main">
			<div class="bg_img">
				<img class="me_img" src="../images/wodeyixia/versionNumber.png" alt="">
			</div>
			<ul class="mess_list">
				<li>客服电话:<span>4000500327</span></li>
				<li>Email:<span>help@bkguocai.com</span></li>
				<li>微信公众号:<span>beikongguocai</span></li>
			</ul>
			<div class="haha">
				<h3> 团 队<br>介 绍 </h3>
				<p>北京北控国彩科技有限公司是国内领先的智能自助终端运营综合服务提供商,集智能自助终端研发、销售、运营的专业化高科技公司。</p>
			</div>
			<div class="footer">北京北控国彩科技有限公司 版权所有</div>
		</div> 
<!-- 		<div class="main">

			<div class="content">
				<img src="../images/wodeyixia/about.png" alt="">
			</div>

		</div> -->
	</div>
		<script src="../js/jquery.min.js"></script>
<!-- 	<script src="../js/public.js"></script>
	<script src="../js/userInfo.js"></script> -->
</body>
</html>